[color]
    ui = true
    branch = true
    diff = true
    interactive = true
    status = true
[color "status"]
    added = green
    changed = red
    deleted = red
    untracked = yellow
[user]
    name = Pachwenko
    email = patrick.mccartney@imtapps.com
[commit]
    gpgsign = false
    template = ~/.gitmessage
[url "git@github.com:"]
    ; this is because we always want the secure ssh version, not https
    insteadOf = https://github.com/
[alias]
    co = checkout
    cb = checkout -b
    ga = !git commit --amend
    gp = git push origin
    branch-name = "!git rev-parse --abbrev-ref HEAD"
    publish = "!git push origin $(git branch-name)"
    pull-rebase = "!git pull origin $(git branch-name) --rebase"
    reseth = "!git reset origin/$(git branch-name) --hard"
    pushup = "!git push origin $(git branch-name)"
    pul = "!git pull origin $(git branch-name)"
[init]
    defaultBranch = main
[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
[git-pair]
    scope = global
[git-mob-config]
    github-fetch = false
[push]
	default = current
	autoSetupRemote = true
[transfer]
    fsckobjects = false ; disabled for plugin compatibility
[fetch]
    fsckobjects = false
[receive]
    fsckObjects = false
[branch]
    sort = -committerdate
[diff]
    algorithm = histogram
[merge]
	conflictstyle = zdiff3
[pull]
	rebase = true
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
